.git
ide/Savannah_private.h
ide/Savannah.bookmarks
ide/Savannah.debug
ide/Savannah.dev
ide/Savannah.layout
ide/Savannah_private.rc
ide/Savannah_private.res
/Savannah_private.h
/Savannah.bookmarks
/Savannah.debug
/Savannah.dev
/Savannah.layout
/Savannah_private.rc
/Savannah_private.res
/makefile.win
*.o
*.exe
*.win
*.bak
*.gch
*.txt